body{
    margin: 0;
    text-align: center;

    color: #82a5ca;

    font-family: "Orbitron"
    
    
}

#hero{
    background-image: url("universe.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

.text{
    /* padding: 10px; */
    text-align: center;
}

.btn{
    font-family: 'Volkhov';
    background-color: #0d6277;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    transition: all 0.3s ease;
}

.orbitron-text {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#cta{
    /* text-underline-position: above; */
    text-decoration: underline;
}

#isro{
    width: 100px;
    height: 100px;
    
}
